<nav th:fragment="navbar"
     class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">


    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">

        <a class="navbar-brand brand-logo" href="/agenttechnique">

            <img class="my-logo"
                 src="/assets/images/télécharger.png">

        </a>

    </div>


    <div class="navbar-menu-wrapper d-flex align-items-stretch">

        <button class="navbar-toggler navbar-toggler align-self-center"
                type="button"
                data-toggle="minimize">

            <span class="mdi mdi-menu"></span>

        </button>


        <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item nav-profile dropdown">

                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

                    <div class="nav-profile-img">
                        <img src="/assets/images/faces/face1.jpg">
                    </div>

                    <div class="nav-profile-text">
                        <span id="fullname"></span>
                    </div>

                </a>

                <div class="dropdown-menu">

                    <a class="dropdown-item"
                       onclick="logout()">

                        Logout

                    </a>

                </div>

            </li>

        </ul>


    </div>


</nav>