<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">

  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
<li class="nav-item">
      <a class="nav-link" href="/interventions">
        <span class="menu-title">Interventions</span>
        <i class="mdi mdi-wrench menu-icon"></i>

      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="/profil.html">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Mon profil</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link text-danger" onclick="logout()">
        <i class="mdi mdi-logout menu-icon"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>


  </ul>

</nav>