<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">

    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/agenttechnique">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/listpanne">
                <span class="menu-title">List Pannes</span>
                <i class="mdi mdi-tools menu-icon"></i>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/ajouterpannes">
                <span class="menu-title">Ajouter panne</span>                <i class="mdi mdi-tools menu-icon"></i>

            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/solution">
                <span class="menu-title">Solution</span>
                <i class="mdi mdi-tools menu-icon"></i>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/interventions">
                <span class="menu-title">Interventions</span>
                <i class="mdi mdi-wrench menu-icon"></i>

            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/profil.html">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Mon profil</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-danger" onclick="logout()">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>


    </ul>

</nav>